{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito-GW PARTS</title>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
     <!-- FRAMEWORK BOOTSTRAP -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="https://kit.fontawesome.com/8bc46edd81.js" crossorigin="anonymous"></script>
     <link rel="shortcut icon" href="../recursos/ISOTIPO_Mesa_de_trabajo_1_x50@2x.webp" />
     <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <a href="/"><img src="{% static 'recursos/332150.svg' %}" height="24" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto" style="--bs-scroll-height: 100px;">
          <li class="user-icon"><a href="#"><i class="fa-solid fa-user text-light" height="30"></i></a></li>
        </ul>
        <ul class="nav justify-content-center mr-auto">
            <li class="nav-item">
                <span class="navbar-text"><a class="nav-link active" href="{% url 'shopping:tienda' 'bicicleta' %}">Bicicletas</a></span>
              </li>
              <li class="nav-item">
                <span class="navbar-text"><a class="nav-link active" href="{% url 'shopping:tienda' 'accesorios' %}">Accesorios</a></span>
              </li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <span class="navbar-text"><a class="nav-link active" href="accounts/logout/">Cerrar Sesión</a></span>
          </li>
          <li class="nav-item">
            <span class="navbar-text"><a class="nav-link active" href="{% url 'carro:carrito' %}"><i class="fa-solid fa-cart-shopping" height="30"></i></a></span>
          </li>
        
        {%else%}
        <li class="nav-item">
          <span class="navbar-text"><a class="nav-link active" href="accounts/login/">Iniciar Sesión</a></span>
        </li>
        <li class="nav-item">
          <span class="navbar-text"> <a class="nav-link active" href="register/">Registrarse</a></span>
        </li>
        {% endif %}
      </ul>
        
      </div>
    </div>
  </nav>
    <main>
        <div class="cart-title">
            <h2 class="h1" align="center">Carrito de Compra</h2>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <br>
                  <p>Continue explorando <a href="{% url 'homepage' %}">aqui</a></p>
                </blockquote>
            </figure>
        </div>


        {% if request.session.carro.items %}
        <div class="table-title">
          <p><b>Cantidad</b></p>
          <p><b>Precio</b></p>
        </div>
      <hr class="one">
      {% for key, value in request.session.carro.items%}
        <section class="products">
            <div class="prod">
                <div class="prod-logo">
                    <img src="{{value.imagen}}" alt="bicicleta electrica" width="100%">
                </div>
                <div class="prod-nom">
                    <h2>{{value.producto}}</h2>
                    <button type="button" class="btn btn-danger"><a href="{% url 'carro:eliminar' key %}">eliminar</a></button>
                    <button type="button" class="btn btn-danger"> <a href="{% url 'carro:restar' key %}">restar</a></button>
                    <button type="button" class="btn btn-success"><a href="{% url 'carro:agregar' key %}">agregar</a></button>
                </div>   
                <div class="prod-info">
                  <div class="cant">
                    <p align="center"><b> {{value.cantidad}}</b></p>
                  </div>
                  <div class="precio">
                    <p align="center"><b>{{value.precio_actual}}</b></p>
                  </div>
                </div>
              </div>
        </section>

        {% endfor%}

        <section>

          <hr class="one">
          <div class="buy-section">
            <div class="contenedor-t-c">
              <div class="cart-btn">
                <div class="box-botones">
                  <div>
                    <button type="button" class="btn btn-danger"><a href="{% url 'carro:limpiar' %}">limpiar Carrito</a></button>
                  </div>
    
                  <div>
                    <a href="{% url 'shopp:comprar' %}"><button type="submit" class="btn btn-success">Comprar</button></a>
                  </div>
                  
                </div>
              </div>
                
  
              <div class="cart-text">

                <div class="contenedor-text">
                  <div class="s-t">
                    <p align="center"><b>subtotal</b></p>
                  </div>
    
                  <div class="price">
                    <p align="center"><b>0</b></p>
                  </div>

                </div>
                
  
              </div>
            </div>
            

          </div>

        </section>
      {%else%}
        <br><br><br><br>
      <h2 align="center" class="fs-3">¡¡Upss!!, parece que aún no has agregado nada a tu carrito</h2>
      {% endif %}
    </main>

</body>
</html>